In [62]:
%load_ext lab_black
import pandas as pd
import json
import requests
import numpy as np

from config import g_key


import plotly.express as px

The lab_black extension is already loaded. To reload it, use:
  %reload_ext lab_black

# Part II : VacationPy
----

In [103]:
city_data_to_load = "Resources/city_result.csv"

city_data = pd.read_csv(city_data_to_load)
df = city_data
df.head(2)

,Unnamed: 0,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Bambous Virieux,-20.34,57.76,75.2,60,40,6.93,MU,1600869990
1,1,Barrow,71.29,-156.79,30.2,68,90,6.93,US,1600869902

In [107]:
df["Lat_Lon"] = df["Lat"].astype(str) + "," + test_city_df["Lng"].astype(str)
df.head(2)

,Unnamed: 0,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Lat_Lon
0,0,Bambous Virieux,-20.34,57.76,75.2,60,40,6.93,MU,1600869990,"-20.34,39.51"
1,1,Barrow,71.29,-156.79,30.2,68,90,6.93,US,1600869902,"71.29,57.7"

In [110]:
perfect_weather_df = df[
    (df["Max Temp"] <= 80)
    & (df["Max Temp"] >= 60)
    & (df["Wind Speed"] <= 20)
    & (df["Cloudiness"] <= 30)
]
perfect_weather_df.head(2)

,Unnamed: 0,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Lat_Lon
7,7,Rikitea,-23.12,-134.97,71.92,73,1,13.85,PF,1600869992,"-23.12,13.84"
8,8,Aksu,41.12,80.26,70.07,25,0,3.09,CN,1600869993,"41.12,128.87"

In [118]:
lat_lon_list = perfect_weather_df["Lat_Lon"].tolist()

In [123]:
hotels = requests.get(
    "https://maps.googleapis.com/maps/api/place/nearbysearch/json",
    params={
        "key": g_key,
        "location": lat_lon_list[17],
        "radius": "5000",
        "type": "lodging",
    },
).json()

In [124]:
hotels

{'html_attributions': [],
 'results': [{'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 41.34166499999999,
     'lng': -84.35908099999999},
    'viewport': {'northeast': {'lat': 41.34312038029149,
      'lng': -84.35773051970848},
     'southwest': {'lat': 41.34042241970849, 'lng': -84.3604284802915}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'name': 'Green Acres Mobile Home Court',
   'photos': [{'height': 5312,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/115706768143459721554">Bill Spencer</a>'],
     'photo_reference': 'CmRaAAAA-aVUl0Hy6vDyokEGVakRdDh54mW1GcNZDKBOVAHT7S7uP900OQsUeMcPEMwpsUqIuseBIyJymkBWLt1LBTf19nm0vbOqc0dupRKDSM3FyThCuOJ_z8gVPGHcSxq4EvreEhD4BCPJOGXRrRrkbJ3lIUjUGhTSFCdIvXF1mHCgu5PtfpMr3UElNw',
     'width': 2988}],
   'place_id': 'ChIJ55FIlX3OPYgReCluZ8LaGSc',
   'plus_code': {'compound_code': '8JRR+M9 Defiance, OH, USA',
    'global_code': '86HQ8JRR+M9'},
   'rating': 3.2,
   'reference': 'ChIJ55FIlX3OPYgReCluZ8LaGSc',
   'scope': 'GOOGLE',
   'types': ['rv_park', 'lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 38,
   'vicinity': '6909 Ohio 66, Defiance'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': 41.333744, 'lng': -84.38156889999999},
    'viewport': {'northeast': {'lat': 41.3350931302915,
      'lng': -84.38013536970848},
     'southwest': {'lat': 41.3323951697085, 'lng': -84.38283333029149}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/lodging-71.png',
   'name': 'Amber Oaks',
   'place_id': 'ChIJMevUjUPOPYgRc8Gbxxc5kIE',
   'plus_code': {'compound_code': '8JM9+F9 Defiance, OH, USA',
    'global_code': '86HQ8JM9+F9'},
   'rating': 2.5,
   'reference': 'ChIJMevUjUPOPYgRc8Gbxxc5kIE',
   'scope': 'GOOGLE',
   'types': ['rv_park', 'lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 20,
   'vicinity': '7610 Christy Road, Defiance'}],
 'status': 'OK'}

In [134]:
def extract_data(data):
    data = data["results"][0]
    return {
        "Hotel Name": data["name"],
        "lat": data["geometry"]["location"]["lat"],
        "lon": data["geometry"]["location"]["lng"],
    }

In [135]:
hotel_results = []
for lat_lon in lat_lon_list:
    try:
        print(lat_lon)
        data = requests.get(
            "https://maps.googleapis.com/maps/api/place/nearbysearch/json",
            params={
                "key": g_key,
                "location": lat_lon,
                "radius": "5000",
                "type": "lodging",
            },
        ).json()
        hotel_result = extract_data(data)
        hotel_results.append(hotel_result)
    except Exception as e:
        print(e)
        print(f"{lat_lon} Not found. Skipping...")
        pass

-23.12,13.84
list index out of range
-23.12,13.84 Not found. Skipping...
41.12,128.87
list index out of range
41.12,128.87 Not found. Skipping...
57.97,-104.67
list index out of range
57.97,-104.67 Not found. Skipping...
42.1,81.7
list index out of range
42.1,81.7 Not found. Skipping...
-34.42,-134.97
list index out of range
-34.42,-134.97 Not found. Skipping...
-16.48,147.06
list index out of range
-16.48,147.06 Not found. Skipping...
43.48,114.02
list index out of range
43.48,114.02 Not found. Skipping...
46.87,-90.19
list index out of range
46.87,-90.19 Not found. Skipping...
-33.93,5.65
list index out of range
-33.93,5.65 Not found. Skipping...
-15.2,33.6
list index out of range
-15.2,33.6 Not found. Skipping...
-21.2,-74.98
list index out of range
-21.2,-74.98 Not found. Skipping...
-25.24,26.89
list index out of range
-25.24,26.89 Not found. Skipping...
-19.55,-67.52
list index out of range
-19.55,-67.52 Not found. Skipping...
-33.65,-109.91
list index out of range
-33.65,-109.91 Not found. Skipping...
-33.02,-149.33
list index out of range
-33.02,-149.33 Not found. Skipping...
-34.53,-76.2
list index out of range
-34.53,-76.2 Not found. Skipping...
-8.93,82.74
list index out of range
-8.93,82.74 Not found. Skipping...
41.37,-84.36
47.38,-97.86
list index out of range
47.38,-97.86 Not found. Skipping...
-26.65,170.27
list index out of range
-26.65,170.27 Not found. Skipping...
-25.4,134.96
list index out of range
-25.4,134.96 Not found. Skipping...
28.66,-50.22
list index out of range
28.66,-50.22 Not found. Skipping...
-31.4,120.72
list index out of range
-31.4,120.72 Not found. Skipping...
-29.62,131.25
list index out of range
-29.62,131.25 Not found. Skipping...
59.7,-99.65
list index out of range
59.7,-99.65 Not found. Skipping...
-33.59,73.88
list index out of range
-33.59,73.88 Not found. Skipping...
-32.55,-42.02
list index out of range
-32.55,-42.02 Not found. Skipping...
-35.33,-0.29
list index out of range
-35.33,-0.29 Not found. Skipping...
-33.01,-68.52
9.3,-100.35
list index out of range
9.3,-100.35 Not found. Skipping...
-28.55,124.85
list index out of range
-28.55,124.85 Not found. Skipping...
-28.78,12.54
list index out of range
-28.78,12.54 Not found. Skipping...
54.17,47.99
list index out of range
54.17,47.99 Not found. Skipping...
-30.18,42.45
list index out of range
-30.18,42.45 Not found. Skipping...
37.61,145.91
list index out of range
37.61,145.91 Not found. Skipping...
-23.25,73.08
list index out of range
-23.25,73.08 Not found. Skipping...
30.48,179.32
list index out of range
30.48,179.32 Not found. Skipping...
40.66,-71.34
list index out of range
40.66,-71.34 Not found. Skipping...
56.89,140.59
list index out of range
56.89,140.59 Not found. Skipping...
17.96,-73.05
list index out of range
17.96,-73.05 Not found. Skipping...
20.89,139.49
list index out of range
20.89,139.49 Not found. Skipping...
42.91,-76.97
59.78,-59.66
list index out of range
59.78,-59.66 Not found. Skipping...
37.1,23.78
list index out of range
37.1,23.78 Not found. Skipping...
-22.96,108.54
list index out of range
-22.96,108.54 Not found. Skipping...
28.12,146.72
list index out of range
28.12,146.72 Not found. Skipping...
35.15,50.81
list index out of range
35.15,50.81 Not found. Skipping...
44.51,-97.07
-14.83,-73.83
list index out of range
-14.83,-73.83 Not found. Skipping...
26.59,38.73
list index out of range
26.59,38.73 Not found. Skipping...
-6.6,178.42
list index out of range
-6.6,178.42 Not found. Skipping...
47.57,27.73
-34.0,-65.33
list index out of range
-34.0,-65.33 Not found. Skipping...
-25.86,-123.1
list index out of range
-25.86,-123.1 Not found. Skipping...
-19.84,-1.75
list index out of range
-19.84,-1.75 Not found. Skipping...
-20.28,60.57
list index out of range
-20.28,60.57 Not found. Skipping...
-33.92,-88.59
list index out of range
-33.92,-88.59 Not found. Skipping...
-13.85,170.5
list index out of range
-13.85,170.5 Not found. Skipping...
-17.73,-134.42
list index out of range
-17.73,-134.42 Not found. Skipping...
41.14,140.51
list index out of range
41.14,140.51 Not found. Skipping...
43.75,64.7
list index out of range
43.75,64.7 Not found. Skipping...
45.32,-74.86
list index out of range
45.32,-74.86 Not found. Skipping...
30.37,-10.85
list index out of range
30.37,-10.85 Not found. Skipping...
42.56,108.05
list index out of range
42.56,108.05 Not found. Skipping...
31.55,111.9
list index out of range
31.55,111.9 Not found. Skipping...
41.71,149.13
list index out of range
41.71,149.13 Not found. Skipping...
32.68,102.71
list index out of range
32.68,102.71 Not found. Skipping...
-20.74,119.59
list index out of range
-20.74,119.59 Not found. Skipping...
54.08,35.48
list index out of range
54.08,35.48 Not found. Skipping...
-20.73,-124.22
list index out of range
-20.73,-124.22 Not found. Skipping...
8.27,-68.19
list index out of range
8.27,-68.19 Not found. Skipping...
-17.53,3.39
list index out of range
-17.53,3.39 Not found. Skipping...
31.26,101.77
list index out of range
31.26,101.77 Not found. Skipping...
-28.97,85.68
list index out of range
-28.97,85.68 Not found. Skipping...
10.93,6.97
list index out of range
10.93,6.97 Not found. Skipping...
50.93,148.15
list index out of range
50.93,148.15 Not found. Skipping...
-20.23,58.04
list index out of range
-20.23,58.04 Not found. Skipping...
55.15,-64.33
list index out of range
55.15,-64.33 Not found. Skipping...
55.53,119.85
list index out of range
55.53,119.85 Not found. Skipping...
-14.55,-53.48
list index out of range
-14.55,-53.48 Not found. Skipping...
-20.01,-121.92
list index out of range
-20.01,-121.92 Not found. Skipping...
42.16,6.79
list index out of range
42.16,6.79 Not found. Skipping...
45.02,16.23
46.43,126.06
list index out of range
46.43,126.06 Not found. Skipping...
46.33,26.6

In [136]:
hotel_results

[{'Hotel Name': 'Green Acres Mobile Home Court',
  'lat': 41.34166499999999,
  'lon': -84.35908099999999},
 {'Hotel Name': 'Casa Rural en los Viñedos',
  'lat': -32.99427000000001,
  'lon': -68.485203},
 {'Hotel Name': 'Ramada Plaza by Wyndham Geneva Lakefront Resort',
  'lat': 42.86663349999999,
  'lon': -76.97942239999999},
 {'Hotel Name': 'Lake Poinsett Camp', 'lat': 44.5348304, 'lon': -97.0891324},
 {'Hotel Name': 'Hotel Laguna-VIP', 'lat': 47.569166, 'lon': 27.7210553},
 {'Hotel Name': 'Đedovina', 'lat': 44.99371530000001, 'lon': 16.2320113},
 {'Hotel Name': 'Blackberries House', 'lat': 46.3072996, 'lon': 26.5962308}]

In [137]:
hotel_results_df = pd.DataFrame.from_dict(hotel_results)
hotel_results_df

                                        Hotel Name        lat        lon
0                    Green Acres Mobile Home Court  41.341665 -84.359081
1                        Casa Rural en los Viñedos -32.994270 -68.485203
2  Ramada Plaza by Wyndham Geneva Lakefront Resort  42.866633 -76.979422
3                               Lake Poinsett Camp  44.534830 -97.089132
4                                 Hotel Laguna-VIP  47.569166  27.721055
5                                         Đedovina  44.993715  16.232011
6                               Blackberries House  46.307300  26.596231

def extract_data(data):
    return {
        "Hotel Name": data["results"][0]["name"],
        # "lat": data["result"][0]["geometry"]["location"]["lat"],
        # "lon": data["result"][0]["geometry"]["location"]["lng"],
    }

hotel_results = []
for lat_lon in lat_lon_list:

    try:
        data = requests.get(
            "https://maps.googleapis.com/maps/api/place/nearbysearch/json",
            params={
                "key": g_key,
                "location": lat_lon,
                "radius": "5000",
                "type": "lodging",
            },
        ).json()

        hotel_result = extract_data(data)
        hotel_results.append(hotel_result)

    except Exception as e:
        print(e)
        print("Not found. Skipping...")
        pass